<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="e3.mall.mapper.EmpMapper" >

    <resultMap id="empMap" type="Emp">
        <id property="empID" column="id"></id>
        <result property="empName" column="empName"></result>
        <result property="deptID" column="deptID"></result>
        <result property="money" column="money"></result>
    </resultMap>

    <select id="getEmpByID" parameterType="int" resultMap="empMap">
        select * from emp where id=#{empID}
    </select>

    <select id="getAll" resultMap="empMap">
        select * from emp
    </select>

</mapper>